.inputs {
  display: flex;
  flex-direction: column;
  width: 60%;
}

h3 {
  font-size: 2rem;
  padding: 15px 5px;
}

.inputs {
  width: 100%;
}

.actions {
  width: 100%;
  padding: 20px 0;
}

button {
  width: 45%;
}
