<h3>Dodaj do moich kryptowalut</h3>
<div mat-dialog-content class="inputs">
  <mat-form-field appearance="fill">
    <mat-label>Wybierz z listy</mat-label>
    <mat-select (selectionChange)="onSelectionValueChange($event.value)">
      <mat-option *ngFor="let e of availableCrypto" [value]="e.id">
        {{ e.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Wartość" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
  <button mat-raised-button color="primary" type="submit" (click)="saveValue()">Zapisz</button>
  <button mat-raised-button color="warn">Anuluj</button>
</div>
