$image-size: 4.5rem;

.userInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8rem;
}

.avatar {
    object-fit: cover;
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
}

.text-container {
    margin-left: -60px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.name {
    margin-top: 10px;
}

.title {
    margin-top: -15px;
    color: darkgrey;
}