h2 {
    font-size: 42px;
    padding: 50px 0 10px 50px
}

dx-data-grid {
    width: 95%;
    height: 70vh;
    margin: auto;
}

.buttons {
    padding: 30px;
    & button {
        margin: 0 20px;
        font-size: 1.1rem;
    }
}

