@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import '../node_modules/modern-css-reset/dist/reset.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: whitesmoke;
    overflow-x: hidden;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.add-crypto-container {
    height: 30vh;
}
